@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'constants.scss';

body {
  font-family: 'Roboto', sans-serif;
  background: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  text-align: center;
  font-size: 60px;
}

section {
  display: flex;
  height: 100vh;
}

section:nth-child(2n) {
  background: $color-background-alt;
}

@media screen and (max-width: $mobile-width) {
  section {
    height: auto;
    padding: 100px 0;
  }
}
