@import url('https://fonts.googleapis.com/css?family=Monda|Montserrat:500');
@import 'constants.scss';

body {
  font-family: 'Montserrat', sans-serif;
  background: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Monda', sans-serif;
}

h2.name {
  font-size: 30px;
  line-height: 0;
}

h2.name > span {
  color: $color-name;
}

.title {
  color: $color-title;
}

h1 {
  text-align: center;
  font-size: 60px;
}

footer {
  background: $color-text;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  color: white;
}

section {
  display: flex;
  height: 100vh;
}

section.projects {
  display: block;
  height: auto;
}

@media screen and (max-width: $mobile-width) {
  section {
    height: auto;
    padding: 100px 0;
  }
}
