// Colors
$color-background: #feffff;
$color-text: #4af;
$color-text-alt: $color-background;
$color-name: $color-text;
$color-contact-icon: $color-text;
$color-story-icon: $color-text;
$color-title: $color-text;
$color-project-background: rgba(0, 0, 0, 0.4);
$color-project-text: $color-text-alt;
$color-project-button: rgba(255, 255, 255, 0.3);
$color-footer: $color-text;

// Responsive
$mobile-width: 800px;
$max-scale-width: 1920px / .80;

// Animation
$transition: .4s cubic-bezier(0.075, 0.820, 0.165, 1.000);
