// Colors
$color-background: #f5f5f5;
$color-background-alt: #FDD;
$color-contact-icon: black;
$color-project-background: rgba(0, 0, 0, 0.4);
$color-project-text: white;
$color-project-button: rgba(255, 255, 255, 0.3);

// Responsive
$mobile-width: 800px;
$max-scale-width: 1920px / .80;

// Animation
$transition: .4s cubic-bezier(0.075, 0.820, 0.165, 1.000);
