a.scale-up-center {
  display: inline-block;
  transition: .4s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

a.scale-up-center:hover {
  transform: scale(1.2);
}

.contact-icon {
  font-size: 50px;
  line-height: 50px;
  margin: auto 20px;
}
