@import 'constants.scss';

a.scale-up-center {
  display: inline-block;
  transition: $transition;
}

a.scale-up-center:hover {
  transform: scale(1.2);
}

.contact-icon {
  font-size: 50px;
  line-height: 50px;
  margin: auto 20px;
  color: $color-contact-icon;
}
