@import 'constants.scss';

a.scale-up-center {
  display: inline-block;
  transition: $transition;
}

a.scale-up-center:hover {
  transform: scale(1.2);
}

.contact-icon {
  font-size: 50px;
  line-height: 50px;
  margin: auto 20px;
  color: $color-contact-icon;
}

.contact-icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  left: 50%;
  bottom: 0;

  opacity: 0;
  transform: translate(-50%, 90%);
  transition: $transition;
}

.contact-icon-container:hover > .tooltip {
  opacity: 1;
  transform: translate(-50%, 150%);
}
