@import 'constants.scss';

.container {
  position: relative;
  width: 80%;
  padding-bottom: 45%;
  background-size: auto 100%;
  display: block;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%;

  opacity: 1;
  transition: opacity $transition;
}

.blurred {
  filter: blur(25px);
}

.content {
  text-align: center;
  padding: 0 10%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-project-background;
  color: $color-project-text;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  opacity: 0;
  transition: opacity $transition;
}

.container:hover > .image:not(.blurred) {
  opacity: 0;
}

.container:hover > .content {
  opacity: 1;
}

.container h1 {
  margin: 5%;
  font-size: 40px;
}

.description {
  font-style: italic;
}

.techIcon {
  font-size: 40px;
  padding: 5px;
}

.button {
  display: inline-block;
  padding: 10px;
  border: .5px solid white;
  border-radius: 5px;
  margin: 5px;
  color: white;
  text-decoration: none;

  transition: background-color $transition;
}

.button:hover {
  background-color: $color-project-button;
}

.bottom {
  padding-bottom: 5%;
}

@media screen and (min-width: $max-scale-width) {
  .container {
    width: 1920px;
    height: 1080px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: $mobile-width) {
  .container {
    width: 100%;
    padding-bottom: 0;
  }

  .content {
    opacity: 1;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .button {
    background-color: $color-project-button;
  }

  .image {
    background-size: cover;
    background-position: center center;
  }

  .image:not(.blurred) {
    opacity: 0;
  }

  .content {
    opacity: 1;
  }
}
