@import 'constants.scss';

.storyIcon {
  height: 100%;
  flex-basis: 300px;
}

.storyIcon p {
  text-align: center;
  padding: 0 50px;
  line-height: 1.5;
}

.iconContainer {
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.large-icon {
  font-size: 100px;
  margin: 10px auto;
  color: $color-story-icon;
}
